<section>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Gerenciar <b>Candidatos</b></h2>
          </div>
          <div class="col-sm-6">
            <a routerLink="/novo" class="teste btn-success" title="Novo" data-toggle="modal"><i
                class="fa fa-user-plus"></i> <span>Novo
                Candidato</span>
            </a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Informações</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">Estado</th>
            <th scope="col">Cidade</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cand of candidato">
            <td class="td">
              <a class="info" (click)="onVisualizar(cand.id)" data-toggle="modal"><i class="fa fa-info-circle"
                  title="Informações"></i>
              </a>
            </td>
            <td>{{cand.nome}}</td>
            <td>{{cand.email}}</td>
            <td>{{cand.telefone}}</td>
            <td>{{cand.estado}}</td>
            <td>{{cand.cidade}}</td>
            <td class="td">
              <a (click)="onEditar(cand.id)" class="edit" data-toggle="modal"><i class="fa fa-edit" title="Editar"></i>
              </a>
              <a (click)="deletar(cand.id)" class="delete" data-toggle="modal"><i class="fa fa-trash"
                  title="Deletar"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text"><b>5</b> de <b>25</b></div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Anterior</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Próximo</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover o candidato?</p>
    <div>
      <button type="button" mdbBtn color="success" (click)="onConfirmDelete()" class="btn-modal"
        mdbWavesEffect>Sim</button>
      <button type="button" mdbBtn color="danger" (click)="onDeclineDelete()" mdbWavesEffect>Não</button>
    </div>
  </div>
</ng-template>