<section class="section-page py-3">
  <div class="container">
    <a href="" class="close" title="fechar" data-toggle="modal"><i class="fa fa-times"></i></a>
    <div class="signup-form">
      <h4>Dados Pessoais</h4>
    </div>
    <form [formGroup]="form">
      <div class="form-row">
        <div class="col col-md-6">
          <small>Nome <span>*</span></small>
          <input placeholder="Nome" [(ngModel)]="candidato.nome" required formControlName="nome" mdbInput type="text"
            class="form-control" name="nome">
          <div *ngIf="form.controls.nome.invalid && isInvalid">
            <small class="smallValidation">Campo Obrigatório!</small>
          </div>
        </div>
        <div class="col col-md-4">
          <small>Email <span>*</span></small>
          <input placeholder="nome@email.com" [(ngModel)]="candidato.email" required formControlName="email" mdbInput
            type="text" class="form-control" name="email" email>
          <div *ngIf="form.controls.email.invalid && isInvalid">
            <small class="smallValidation">Campo Obrigatório! Precisa ser um endereço de e-mail válido</small>
          </div>
        </div>
        <div class="col col-md-2">
          <small>Telefone <span>*</span></small>
          <input placeholder="000000000" [(ngModel)]="candidato.telefone" required minlength="8"
            formControlName="telefone" maxlength="9" mdbInput type="text" class="form-control" name="telefone">
          <div *ngIf="form.controls.telefone.invalid && isInvalid">
            <small class="smallValidation">Campo Obrigatório!</small>
          </div>
        </div>
        <div class="col col-md-4">
          <small>Skype</small>
          <input placeholder="Skype" formControlName="skype" [(ngModel)]="candidato.skype" mdbInput type="text"
            class="form-control">
        </div>
        <div class="col col-md-4">
          <small>Linkedin</small>
          <input placeholder="Linkedin" formControlName="linkedin" [(ngModel)]="candidato.linkedin" mdbInput type="text"
            class="form-control">
        </div>
        <div class="col col-md-4">
          <small>Portfolio</small>
          <input placeholder="Portfolio" formControlName="portfolio" [(ngModel)]="candidato.portfolio" mdbInput
            type="text" class="form-control">
        </div>
        <div class="col col-md-3">
          <small>Estado <span>*</span></small>
          <input placeholder="Estado" [(ngModel)]="candidato.estado" required formControlName="estado" mdbInput
            type="text" class="form-control" name="estado">
          <div *ngIf="form.controls.estado.invalid && isInvalid">
            <small class="smallValidation">Campo Obrigatório!</small>
          </div>
        </div>
        <div class="col col-md-3">
          <small>Cidade <span>*</span></small>
          <input placeholder="Cidade" [(ngModel)]="candidato.cidade" required formControlName="cidade" mdbInput
            type="text" class="form-control" name="cidade">
          <div *ngIf="form.controls.cidade.invalid && isInvalid">
            <small class="smallValidation">Campo Obrigatório!</small>
          </div>
        </div>
        <div class="col col-md-3">
          <small>Qual sua pretensão salarial por hora? <span>*</span></small>
          <input placeholder="00" required formControlName="salario" [(ngModel)]="candidato.salario" style="width: 40%;"
            mdbInput type="text" class="form-control" name="salario">
          <div *ngIf="hasError('salario') && hasError('salario')['required']">
            <!-- <div *ngIf="form.controls.salario.invalid && isInvalid"> -->
            <small class="smallValidation">Campo Obrigatório!</small>
          </div>
        </div>

        <hr class="my-5">

        <div class="signup-form col-md-12 py-3 text-center">
          <h4>Informações adicionais</h4>
        </div>
        <div class="flex-box row">
          <div class="col-md-6">
            Qual é sua disponibilidade para trabalhar hoje?
            <div [ngClass]="'formRadio'" id="formRadio" class="list-group">
              <div *ngFor="let item of formRadioOpition" class="custom-control custom-radio">
                <label class="radio-inline">
                  <input class="inputRadio" [(ngModel)]="candidato.horasPorDia" type="radio" [value]="item.valor"
                    formControlName="formRadio" />
                  {{ item.desc }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            Pra você qual é o melhor horário para trabalhar?
            <div [ngClass]="'formRadioTwo'" id="formRadioTwo" class="list-group">
              <div *ngFor="let item of formRadioOpitionTwo" class="custom-control custom-radio">
                <label class="radio-inline">
                  <input class="inputRadio" [(ngModel)]="candidato.horarioParaTrabalho" type="radio"
                    [value]="item.valor" formControlName="formRadioTwo" />
                  {{ item.desc }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div id="botao">
      <button (click)="onCancel()" type="button" class="btn botaoEnviar btn-light-2">
        Voltar
      </button>
      &nbsp;
      <button (click)="onSubmit()" [disabled]="!form.valid" type="button" class="btn botaoEnviar btn-light">
        Salvar
      </button>
    </div>
  </div>
</section>